<%- include('partials/header') %>

<div class="cover-frame">
    <div class="headers-v2">
      <div class="test-container"></div>
      <div class="nav-list">
        <div class="sections">
          <div class="home">Home</div>
          <div class="home">About</div>
          <div class="link-list"><div class="home">Resources</div></div>
          <div class="home">Contact</div>
        </div>
        <div class="master-secondary-button">
          <img
            class="line-roundedsearch-icon"
            alt=""
            src="./public/line-roundedsearch.svg"
          />
          <div class="home"><a class="home-login" href="/login">Login</a></div>
          <img
            class="line-roundedsearch-icon"
            alt=""
            src="./public/line-roundedarrow-right.svg"
          />
        </div>
        <a class="btn btn-register btn-lg" href="/register" role="button">Register</a>
      </div>
      <div class="logo-style-guide-top">
        <img
          class="logo-style-guide-top-child"
          alt=""
          src="/images/logo.png"
        /><b class="logo">Online Test System</b>
      </div>
      <div class="headers-v2-child"></div>
    </div>
  </div>

    <%- include('partials/footer') %>